.landingPageContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #343330;
  /* background-color: #D9D5D2; */
}

.blogTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 8vh;
  position: fixed;
  z-index: 999;
}

.blogTitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5em;
  color: white;
}

.headingImageContainer {
    height: 100svh;
  height: 100vh;
  width: 100%;
  min-height: 600px;
  min-width: 500px;
  background-image: url("https://sthamericablogphotos.s3.ap-southeast-2.amazonaws.com/pexels-carolyn-3345082.jpg");
  background-size: cover;
  background-position: right 0% bottom 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.blogIntroContainer {
  text-align: left;
  height: 100svh;
  height: 100vh;
  min-height: 600px;
  max-width: 38vw;
  min-width: 380px;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #343330b7;
}

.tileLinks {
  color: inherit;
  text-decoration: inherit;
}

.blogIntroTitle {
  font-family: "Archivo Narrow", sans-serif;
  font-size: clamp(1rem, 2vw + 1rem, 4rem);
  font-style: italic;
  color: whitesmoke;
  width: 87%;
  margin: 10px;
  padding: 0;
}
.blogIntroSubheader {
  font-family: "Archivo Narrow", sans-serif;
  font-size: calc(17px + 3 * ((100vw - 320px) / 680));
  font-style: italic;
  color: whitesmoke;
  text-align: left;
  width: 87%;
  line-height: clamp(1.5);
  margin: 10px;
  padding: 0;
}

.blogPostTilesContainer {
  margin: 100px;
  max-width: 1000px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  border-left: 3px solid rgb(178, 178, 178);
  border-right: 3px solid rgb(178, 178, 178);
}

@media only screen and (max-width: 600px){

    .blogTitleContainer{
        height: 5vh;
    }

    .blogTitle{
        font-size: 1em;
    }

    .headingImageContainer{
        background-position: left 61% bottom 0%;
        min-width: 300px;
    }

    .blogIntroContainer{
        min-width: 180px;
        height: 60svh;
        height: 60vh;
        margin-left: 15px;
        border-radius: 10px;
        background-color: #343330b7;
    }

    .blogIntroTitle{
        font-size: clamp(1rem, 1.7vw + 1rem, 4rem);
    }

    .blogIntroSubheader{
        line-height: 1.2;  
        font-size: calc(16px + 3 * ((100vw - 320px) / 680));
    }
}

/* 
@media screen and (max-width: 480px) {
    .headingImageContainer{
     overflow: hidden;
     background-position: center;
    }

    .blogIntroContainer{
        text-align: left;
        height: 50vh;
        max-width: 24vw;
        margin-left: 50px;
        padding-bottom: 100px;
    }

    .blogIntroTitle{
        font-family: 'Cormorant', serif;
        font-size: 9rem;
        color: #1F1300;
    }
    
    .blogIntroSubheaderContainer{
        text-align:left;
        width: 50vw;
    }
    
    .blogIntroSubheader{
        font-family: 'Cormorant', serif;
        font-size: 3rem;
        color: #1F1300;
    }

    .blogTitle{
        font-size: 2em;
    }
 }

 @media screen and (max-width: 960) and (min-width: 641){
    .headingImageContainer{
        overflow: hidden;
        background-position: center;
       }
   
       .blogIntroContainer{
           text-align: left;
           height: 40vh;
           max-width: 24vw;
           margin-left: 50px;
           padding-bottom: 200px;
       }
   
       .blogIntroTitle{
           font-family: 'Cormorant', serif;
           font-size: 9vh;
           color: #1F1300;
       }
       
       .blogIntroSubheaderContainer{
           text-align:left;
           width: 50vw;
       }
       
       .blogIntroSubheader{
           font-family: 'Cormorant', serif;
           font-size: 6vh;
           color: #1F1300;
       }
   
       .blogTitle{
           font-size: 2em;
       }
 } */
