.blogPostPage {
  background-color: #817e7b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100svh;
  height: 100vh;
  overflow: scroll;
  background-size: cover;
 background-attachment: fixed;
}

.blogPostContent {
  background-color: #d9d5d2ef;
  border-radius: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 80vh;
  margin-top: 80svh;
  margin-bottom: 10vh;
}

.blogPostTitle {
  text-align: center;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Cormorant", serif;
  font-size: calc(28px + 11 * ((100vw - 320px) / 680));
}

.blogPostBodyCopy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  text-align: left;
  overflow: scroll;
  font-family: "Cormorant", serif;
  font-size: calc(20px + 3 * ((100vw - 320px) / 680));
}

h1{
    margin: 0px;
}
@media only screen and (max-width: 480px) {
    .blogPostContent {
        width: 94%;
    }
  }
  
  
  @media only screen and (min-width: 481px) and (max-width: 699px) {
    .blogPostContent {
        width: 94%;
    }
    }
  
  
  @media only screen and (min-width: 700px) and (max-width: 980px) {
    .blogPostContent {
        width: 94%;
    }
    }