.tileContainer{
    width: 400px;
    height: 600px;
    border-right: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    text-decoration: none;
    color: black;
}

.tileImage{
    width: 100%;
    height: 60%;
    background-size: cover;
}

.tileTextContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 1 auto;
    color: black;
}

.tileHeadingContainer{
    width: 350px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Archivo Narrow', sans-serif;
}

.tileHeading{
    display: inline;
    font-size: 2em;
}

.tileSubheaderContainer{
    width: 90%;
    height: 150px;
    font-family: 'Cormorant', serif;
    font-size: 1.5em;
}