.tileContainer {
  width: 400px;
  height: 100%;
  padding: 20px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: 0.5s;
  border-radius: 10px;
  opacity: 0;
}

.backgroundSalmon {
  background-color: #343330;
  color: rgb(198, 197, 197);
  transition: 0.5s;
}

.backgroundSalmon:hover {
  background-color: #886176;
}

.backgroundBlue {
  background-color: #343330;
  color: rgb(198, 197, 197);
  transition: 0.5s;
}

.backgroundBlue:hover {
  background-color: #384865;
}

.backgroundLightBlue {
  background-color: #343330;
  transition: 0.5s;
  color: rgb(198, 197, 197);
}

.backgroundLightBlue:hover {
  background-color: #5780a5;
}

.backgroundYellow {
  background-color: #343330;
  color: rgb(198, 197, 197);
  transition: 0.5s;
}

.backgroundYellow:hover {
  background-color: #a07d37;
}

.backgroundGreen {
  background-color: #343330;
  color: rgb(198, 197, 197);
  transition: 0.5s;
}

.backgroundGreen:hover {
  background-color: #415844;
}

.visibleTile {
  animation: tileFadeIn 2s ease 1;
  animation-fill-mode: forwards;
}

@keyframes tileFadeIn {
  100% {
    opacity: 1;
  }
}

.tileImage {
  width: 350px;
  height: 350px;
}

.tileImageTopAndBottomBorder {
  padding: 8px;
  background-color: black;
  border-radius: 5px;
}

.tileTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  margin-top: 10px;
}

.tileHeadingContainer {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Archivo Narrow", sans-serif;
  font-size: 1em;
}

.tileHeading {
  display: inline;
  font-size: 2em;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-align: center;
  margin: 0px;
}

.tileSubheaderContainer {
  width: 100%;
  height: 100%;
  font-family: "Cormorant", serif;
  font-size: 1.5em;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.tileSubheader {
  margin: 10px;
}

.tileContainer:hover {
  transform: scale(1.02);
}

@media only screen and (max-width: 480px) {
  .tileContainer {
    width: 250px;
  }

  .tileImage {
    width: 250px;
    height: 250px;
  }

  .tileHeadingContainer {
    margin-top: 10px;
  }

  .tileHeading {
    font-size: 1.9em;
  }

  .tileSubheaderContainer {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 481) and (max-width: 768px) {
  .tileContainer {
    width: 450px;
  }

  .tileImage {
    width: 400px;
    height: 400px;
  }

  .tileHeadingContainer {
    margin-top: 10px;
  }

  .tileHeading {
    font-size: 2.5em;
  }

  .tileSubheaderContainer {
    font-size: 2em;
  }
}

@media only screen and (min-width: 700px) and (max-width: 980px) {
  .tileContainer {
    width: 500px;
  }

  .tileImage {
    width: 400px;
    height: 400px;
  }

  .tileHeadingContainer {
    margin-top: 15px;
  }

  .tileHeading {
    font-size: 2.3em;
  }

  .tileSubheaderContainer {
    font-size: 1.8em;
  }
}

/* @media (min-width:320px)
@media (min-width:481px)
@media (min-width:641px) 
@media (min-width:961px)
@media (min-width:1025px) 
@media (min-width:1281px)
*/
